[Unit]
Description=Daily schedule for passive Mayak V2 report

[Timer]
OnCalendar=*-*-* 20:45:00 Asia/Qyzylorda
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
